<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hive.dao.mapper.UserMapper" >
  <select id="selectUserByPrimaryKey" resultType="com.hive.model.User" parameterType="java.lang.Integer">
  	SELECT USER_ID as userId,NAME FROM T_HIVE_USER WHERE USER_ID=#{userId,jdbcType=INTEGER}
  	<if test="userState !=null and userState !=0">
  		AND USER_STATE=#{userState,jdbcType=INTEGER}
  	</if>
  </select>
</mapper>